<ion-view title="Carrito" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="carrito-list6">
      <ion-item id="carrito-list-item12" style="">Item 1</ion-item>
      <ion-item id="carrito-list-item14" style="">Item 2</ion-item>
      <ion-item id="carrito-list-item15" style="">Item 3</ion-item>
    </ion-list>
    <a href-inappbrowser="https://www.paypal.com" id="carrito-button10" class="button button-balanced button-block">Comprar</a>
  </ion-content>
</ion-view>