<ion-view title="Consultar" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <form id="consultar-form4" class="list">
      <label class="item item-input" id="consultar-input6">
        <span class="input-label">e-mail</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <label class="item item-input" id="consultar-textarea1">
        <span class="input-label">Consulta</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="consultar-button16" class="button button-balanced button-block">Enviar</button>
  </ion-content>
</ion-view>