<ion-view title="FAQ" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="fAQ-heading1" style="color:#000000;">¿Qué fue primero?</h1>
    <div id="fAQ-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">¿La
        <strong>gallina</strong> o el
        <strong>huevo</strong>?</p>
    </div>
    <h1 id="fAQ-heading2" style="color:#000000;">¿Dios existe?</h1>
    <div id="fAQ-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">aaaaaaaaaaaa</p>
    </div>
    <h1 id="fAQ-heading3" style="color:#000000;">??????</h1>
    <div id="fAQ-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">?¿?¿?¿?¿?¿?¿?¿</p>
    </div>
  </ion-content>
</ion-view>