<ion-view title="Servicios" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="servicios-heading4" style="color:#886BE8;">Juegalmi</h1>
    <h3 id="servicios-heading2" style="color:#886BE8;">¿Quiénes somos?</h3>
    <div id="servicios-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tienda de videojuegos y electrónica JuegAlmi es una empresa de venta de productos informáticos
        y entretenimiento constituida en el año 2018 bajo el nombre fiscal de Juegos Almi 2018 SL. Estamos situados en el centro
        de Bilbao, en la calle General Wonderland Fantasy 3 Bajo Izquierda, cerca de la plaza Chocolate y de la plaza Camino al
        Infierno. También puedes visitarnos en nuestra tiendas situadas en:</p>
        <br>
        <p style="color:#000000;">Heles, calle Buenaventura Desdichado, s/n.</p>
        <br>
        <p style="color:#000000;">Txor, Avenida Magdalenas, 43.</p>
        <br>
        <p style="color:#000000;">Actualmente contamos con una amplia gama de productos de última generación y un personal altamente
           cualificado, lo que nos permite atender cualquier área relacionada con el entretenimiento y la informática. En JuegAlmi,
           podrás ser partícipe de grandes descuentos y ofertas, y para nuestros clientes más fieles, sorteos de ‘Llévate todo lo que
           puedas en un minuto’.</p>
        <br>
        <p style="color:#000000;">En JuegAlmi  también damos el servicio integral que necesitas. Reparación y venta de consolas,
          tablets y smartphones (solo para productos vendidos por nosotros). Nuestros trabajadores hacen instalaciones a domicilio y
          además, disponemos de una división de creación y desarrollo en videojuegos, móviles y consolas.</p>
        <br>
        <p style="color:#000000;">Prestamos servicio en todo el área del País Vasco, aunque también atendemos requerimientos en otras
          zonas. Además, suministramos técnicos informáticos para dar soporte a cualquier tipo de empresa.</p>
    </div>
  </ion-content>
</ion-view>
