<ion-view title="Servicios" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h1 id="servicios-heading4" style="color:#886BE8;">Juegalmi</h1>
    <h3 id="servicios-heading2" style="color:#886BE8;">¿Quiénes somos?</h3>
    <div id="servicios-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Somos una tienda de videojuegos, en la que tenemos los servicios de compra, y alquiler de videojuegos.
      Ademas, también vendemos móviles, tablets y consolas, para poder disfrutar de todo lo que ofrece la teconología.</p>
      <p style="color:#000000;">Otro de nuestros servicios es el de reparación. Nuestros ejores profesionales estarán a tu disposición
      para resolver todas tus dudas y para dejar tus aparatos electrónicos en tan buen estado como el primer día que los compraste.</p>
    </div>
  </ion-content>
</ion-view>
